 @if (_element.OnDark) {
    <link rel="stylesheet" href="./resources/css/dark.css">
} else {
    <link rel="stylesheet" href="./resources/css/light.css">
}


<nav id="navbar" class="navbar navbar-expand-sm bg-content border-bottom rounded-5">

    <div class="container-fluid">
        <div class="mb-2 mb-md-0">
            <a class="navbar-brand" href="/">Navbar</a>
        </div>

                <div @onclick="HambugerClick" class="hamburger-menu @_element.Active" id="hamburger-menu" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger"></div>
                </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="search-bar d-flex justify-content-center mb-2 mt-2 mb-md-0 mt-md-0" Model="_element" OnValidSubmit="SearchText">
                <div class="search-bar search-bar-ouline mb-2 mb-md-0">
                    <div class="search-content">
                        <div class="search-icon">
                            <div class="icon">
                                <span><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg></span>
                            </div>
                        </div>
                        @*                        <input id="search-comic" type="text" class="border-0" placeholder="Search" value="@_element.TextSearch" @oninput="OnInputChange">*@
                        <EditForm Model="_element" OnSubmit="SearchText" style="width:100%">
                            <InputText @bind-Value="_element.TextSearch" type="text" class="search-comic border-0" placeholder="Search" style="width:100%"></InputText>
                        </EditForm>
                        <div class="search-icon">

                            <div class="icon" @onclick="OpenGenreMenu">
                                <span>
                                    @if (_element.pop_grene) {
                                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope yt-icon"><path d="M16,4v4h4V4H16z M16,10v4h4v-4H16z M10,4v4h4V4H10z M10,10v4h4v-4H10z M16,16v4h4v-4H16z M10,16v4h4v-4H10z M4,4v4h4V4H4z M4,10v4h4v-4H4z M4,16v4h4v-4H4z" class="style-scope yt-icon"></path></g></svg>

                                    } else {
                                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope yt-icon"><path d="M16,4v4h4V4H16z M19,7h-2V5h2V7z M16,10v4h4v-4H16z M19,13h-2v-2h2V13z M10,4v4h4V4H10z M13,7h-2V5h2V7z M10,10v4h4v-4H10z M13,13h-2v-2h2V13z M16,16v4h4v-4H16z M19,19h-2v-2h2V19z M10,16v4h4v-4H10z M13,19h-2v-2h2V19z M4,4v4h4V4H4z M7,7H5V5h2V7z M4,10 v4h4v-4H4z M7,13H5v-2h2V13z M4,16v4h4v-4H4z M7,19H5v-2h2V19z" class="style-scope yt-icon"></path></g></svg>

                                    }
                                </span>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
            <div class="d-flex justify-content-end">
                <AuthorizeView>
                    <Authorized>
                        <div @onclick="OpenNotificationMenu">
                            <Announcements></Announcements>
                        </div>
                        <img class="avatar-sm rounded-circle cursor-pointer" src="@_element.User.Avatar" alt="avatar" @onclick="OpenUserMenu">
                    </Authorized>
                    <NotAuthorized>
                        <a @onclick="SignIn" class="btn btn-primary" style="white-space: nowrap;">Đăng Nhập</a>
                    </NotAuthorized>

                </AuthorizeView>
                @*                @if (_element.IsSignIn) {
                    <img class="avatar-sm rounded-circle cursor-pointer" src="@_element.User.Avatar" alt="avatar" @onclick="OpenUserMenu">
                    } else {
                    <a @onclick="SignIn" class="btn btn-primary" style="white-space: nowrap;">Đăng Nhập</a>
                    }*@

            </div>
        </div>

    </div>
</nav>
<popmenu>
@if (_element.pop_grene) {
    <div class="pop-menu pop-menu-center">
        <div class="d-flex">
            <div class="card rounded-5 bg-content" name="info">
                <div class="p-2">
                    <div class="rounded-5 p-2 border-bottom d-flex justify-content-between">
                        <a class="navbar-brand" href="#">Thể loại</a>
                        <div class="cursor-pointer" @onclick="()=>OnDarkMode(_element.OnDark)">
                            @if (_element.OnDark) {
                                <div>
                                    <i class="fad fa-moon"></i> Dark Mode
                                </div>

                            } else {
                                <div>
                                    <i class="fad fa-sun"></i> Light Mode
                                </div>

                            }
                        </div>
                    </div>

                    <div class="d-flex flex-wrap justify-content-between">
                        @foreach (var item in _element.Genres) {
                            <div class="btn btn-outline-primary rounded-pill m-1" @onclick="()=>{SearchGenre(item.Id);}">@item.Name</div>
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
}

@if (_element.ComicSearch.Count > 0) {
    <div class="pop-menu pop-menu-center">
        <div class="d-flex">
            <div class="card rounded-5 bg-content" name="info">
                <div class="p-2">
                    <div class="rounded-5 p-2 border-bottom d-flex justify-content-between">
                        <a class="navbar-brand" href="#">Thông Tin</a>
                        <div style="color: aquamarine;">aaaaaaaaaaaa</div>
                    </div>

                    <div class="p-2">
                        <div class="row card-info p-2 mt-2">
                            <div class="col-auto m-auto p-0">
                                <img class="rounded-5 img-64" src="truyen.jpg" alt="avatar">
                            </div>
                            <div class="col">
                                <p class="fs-5 title title-1">Thần Đồng Đất Việt Thần Đồng Đất Việt Thần Đồng Đất Việt Thần Đồng Đất Việt</p>
                                <span class="title title-1">chapter 1: Pháp sư gọi bưởi Pháp sư gọi bưởi Pháp sư gọi bưởi</span>
                            </div>
                        </div>
                        <div class="row card-info p-2 mt-2">
                            <div class="col-auto m-auto p-0">
                                <img class="rounded-5 img-64" src="truyen.jpg" alt="avatar">
                            </div>
                            <div class="col">
                                <p class="fs-5 title title-1">Thần Đồng Đất Việt Thần Đồng Đất Việt Thần Đồng Đất Việt Thần Đồng Đất Việt</p>
                                <span class="title title-1">chapter 1: Pháp sư gọi bưởi Pháp sư gọi bưởi Pháp sư gọi bưởi</span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
}

@if (_element.pop_notification) {
    <NotificationContent></NotificationContent>
}

@if (_element.pop_user) {
    <div class="pop-menu pop-menu-right">
        <div class="d-flex">
            <div class="card rounded-5 bg-content" name="info">
                <div class="p-2">
                    <div class="rounded-5 p-2 border-bottom">
                        <a class="navbar-brand" href="#">Thông Tin</a>
                    </div>
                    <AuthorizeView>
                        <Authorized>
                            <div class="mt-2">
                                <div class="row card-info m-1 mb-3 p-2">
                                    <div class="col-auto m-auto p-0">
                                        <img class="avatar-md rounded-circle" src="@_element.User.Avatar" alt="avatar">
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <div class="fs-2">@_element.User.Nickname</div>
                                    </div>
                                </div>
                                <div class="content mt-1 m-1">

                                    <div class="card-info p-2 mt-2">
                                        Truyện đang theo dõi
                                    </div>
                                    <a href="./user">
                                        <div class="card-info p-2 mt-2">
                                            Cài đặt tài khoản
                                        </div>
                                    </a>

                                    <a href="#" class="text">
                                        <div class="card-info p-2 mt-2" @onclick="SignOut">
                                            Đăng Xuất
                                        </div>
                                    </a>
                                </div>

                            </div>

                        </Authorized>
                    </AuthorizeView>
                    @if (_element.IsSignIn) {

                    } else {
                        <!--
                                                                    <div class="mt-2">
                            <div class="content mt-1 m-1">
                                <div class="card-info p-2 mt-2">
                                    <div class="form-check form-switch">
                                        Dảk Mode<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" @onclick="()=>OnDarkMode(_element.OnDark)">
                                    </div>
                                </div>
                                <EditForm Model="LoginRequest" OnValidSubmit="SignIn">
                                    <div class="card-info p-2 mt-2">
                                        <div class="form-floating">
                                            <InputText @bind-Value="LoginRequest.Username" class="form-control" id="floatingInput" placeholder="Username"></InputText>
                                            <label for="floatingInput">Username</label>
                                        </div>
                                    </div>
                                    <div class="card-info p-2 mt-2">
                                        <div class="form-floating">
                                            <InputText @bind-Value="LoginRequest.Password" class="form-control" id="floatingPassword" placeholder="Password"></InputText>
                                            <label for="floatingPassword">Password</label>
                                        </div>
                                    </div>

                                    <div class="card-info p-2 mt-2">
                                        <input type="submit" class="btn btn-primary me-5" value="Đăng Nhập" />
                                        <button class="btn btn-outline-primary">Đăng Ký</button>
                                    </div>
                                </EditForm>

                            </div>

                        </div>

                        -->
                    }

                </div>
            </div>
        </div>
    </div>
}
</popmenu>



@if (_element.pop_background_click) {
    <div class="background-click" @onclick="ClosePopMenu"></div>
}

