 @if (_element.OnDark) {
    <link rel="stylesheet" href="./resources/css/dark.css">
} else {
    <link rel="stylesheet" href="./resources/css/light.css">
}


<nav id="navbar" class="navbar navbar-expand-sm bg-content border-bottom rounded-5">

    <div class="container-fluid">
        <div class="mb-2 mb-md-0 d-flex">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <div class="logo">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="32.000000pt" height="32.000000pt" viewBox="0 0 306.000000 346.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,346.000000) scale(0.100000,-0.100000)"
                           fill="#000000" stroke="none">
                            <path d="M1365 3388 c11 -138 25 -353 25 -378 0 -21 -26 2 -163 138 l-163 163
                            -117 -125 -117 -124 182 -136 181 -136 -64 0 -64 0 -374 -219 c-205 -121 -377
                            -223 -382 -228 -5 -5 -74 -171 -154 -368 l-146 -360 127 -315 c185 -460 158
                            -409 253 -464 62 -36 81 -51 77 -64 -24 -79 -65 -277 -59 -282 5 -4 126 -98
                            270 -208 l261 -201 296 -35 296 -36 296 36 296 35 261 201 c144 110 265 204
                            270 208 6 5 -35 203 -59 282 -4 13 15 28 77 64 95 55 68 4 253 464 l127 315
                            -146 360 c-80 197 -149 363 -154 368 -5 5 -177 107 -382 228 l-374 219 -64 0
                            -64 0 181 136 182 136 -117 124 -117 125 -163 -163 c-137 -136 -163 -159 -163
                            -138 0 25 14 240 25 378 l6 72 -171 0 -171 0 6 -72z m269 -165 c-7 -104 -15
                            -228 -19 -278 l-6 -90 193 192 193 193 79 -86 c43 -47 76 -87 74 -90 -3 -2
                            -101 -76 -218 -164 l-213 -160 132 0 132 0 368 -216 368 -215 140 -347 140
                            -347 -141 -348 -141 -347 -69 -40 c-37 -22 -72 -40 -76 -40 -15 0 -252 252
                            -247 263 17 47 89 289 86 291 -2 2 -132 22 -288 44 l-283 41 -103 96 -103 95
                            -102 0 -102 0 -103 -95 -103 -96 -283 -41 c-156 -22 -286 -42 -288 -44 -3 -2
                            69 -244 86 -291 5 -11 -232 -263 -247 -263 -4 0 -39 18 -76 40 l-69 40 -141
                            347 -141 348 140 347 140 347 368 215 368 216 132 0 132 0 -213 160 c-117 88
                            -215 162 -218 164 -2 3 31 43 74 90 l79 86 193 -193 193 -192 -6 90 c-4 50
                            -12 174 -19 278 l-12 187 116 0 116 0 -12 -187z m80 -1697 c74 -67 112 -95
                            137 -99 19 -3 133 -20 254 -37 121 -17 225 -33 232 -35 8 -3 -2 -47 -32 -142
                            l-44 -137 139 -136 139 -135 34 -142 34 -142 -21 -19 c-12 -10 -125 -98 -253
                            -196 l-232 -177 -285 -34 -286 -35 -286 35 -285 34 -232 177 c-128 98 -241
                            186 -253 196 l-21 19 34 142 34 142 139 135 139 136 -44 137 c-30 95 -40 139
                            -32 142 7 2 124 20 261 40 147 21 258 41 270 50 12 7 59 50 106 94 l85 80 83
                            1 84 0 102 -94z" />
                            <path d="M635 1960 l-90 -49 -38 -83 -38 -82 37 -83 37 -83 94 -50 93 -50 115
                            0 115 0 93 50 94 50 37 82 37 82 -37 83 -37 83 -94 50 -93 50 -118 -1 -117 0
                            -90 -49z m390 -42 c80 -41 83 -44 109 -102 14 -34 26 -65 26 -71 0 -5 -12 -37
                            -26 -71 -26 -58 -29 -61 -109 -102 -79 -41 -84 -42 -180 -42 -96 0 -101 1
                            -180 42 -80 41 -83 44 -109 102 -14 34 -26 66 -26 71 0 6 12 37 26 71 26 57
                            31 62 103 101 74 39 79 40 180 42 104 1 105 1 186 -41z" />
                            <path d="M790 1735 l0 -45 45 0 45 0 0 45 0 45 -45 0 -45 0 0 -45z" />
                            <path d="M2005 1960 l-90 -49 -38 -83 -38 -82 37 -83 37 -83 94 -50 93 -50
                            115 0 115 0 93 50 94 50 37 82 37 82 -37 83 -37 83 -94 50 -93 50 -118 -1
                            -117 0 -90 -49z m390 -42 c80 -41 83 -44 109 -102 14 -34 26 -65 26 -71 0 -5
                            -12 -37 -26 -71 -26 -58 -29 -61 -109 -102 -79 -41 -84 -42 -180 -42 -96 0
                            -101 1 -180 42 -80 41 -83 44 -109 102 -14 34 -26 66 -26 71 0 6 12 37 26 71
                            26 57 31 62 103 101 74 39 79 40 180 42 104 1 105 1 186 -41z" />
                            <path d="M2180 1735 l0 -45 45 0 45 0 0 45 0 45 -45 0 -45 0 0 -45z" />
                        </g>
                    </svg>
                </div>
                <span class="fw-bold fs-5">PsyTruyện</span>
            </a>
        </div>

        <div @onclick="HambugerClick" class="hamburger-menu @_element.Active" id="hamburger-menu" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger"></div>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="search-bar d-flex justify-content-center mb-2 mt-2 mb-md-0 mt-md-0" Model="_element" OnValidSubmit="SearchText">
                <div class="search-bar search-bar-ouline mb-2 mb-md-0">
                    <div class="search-content">
                        <div class="search-icon">
                            <div class="icon">
                                <span><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg></span>
                            </div>
                        </div>
                        @*                        <input id="search-comic" type="text" class="border-0" placeholder="Search" value="@_element.TextSearch" @oninput="OnInputChange">*@
                        <EditForm Model="_element" OnSubmit="SearchText" style="width:100%">
                            <InputText @bind-Value="_element.TextSearch" type="text" class="search-comic border-0" placeholder="Search" style="width:100%"></InputText>
                        </EditForm>
                        <div class="search-icon">

                            <div class="icon" @onclick="OpenGenreMenu">
                                <span>
                                    @if (_element.pop_grene) {
                                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope yt-icon"><path d="M16,4v4h4V4H16z M16,10v4h4v-4H16z M10,4v4h4V4H10z M10,10v4h4v-4H10z M16,16v4h4v-4H16z M10,16v4h4v-4H10z M4,4v4h4V4H4z M4,10v4h4v-4H4z M4,16v4h4v-4H4z" class="style-scope yt-icon"></path></g></svg>

                                    } else {
                                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope yt-icon"><path d="M16,4v4h4V4H16z M19,7h-2V5h2V7z M16,10v4h4v-4H16z M19,13h-2v-2h2V13z M10,4v4h4V4H10z M13,7h-2V5h2V7z M10,10v4h4v-4H10z M13,13h-2v-2h2V13z M16,16v4h4v-4H16z M19,19h-2v-2h2V19z M10,16v4h4v-4H10z M13,19h-2v-2h2V19z M4,4v4h4V4H4z M7,7H5V5h2V7z M4,10 v4h4v-4H4z M7,13H5v-2h2V13z M4,16v4h4v-4H4z M7,19H5v-2h2V19z" class="style-scope yt-icon"></path></g></svg>

                                    }
                                </span>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
            <div class="d-flex justify-content-end">
                <AuthorizeView>
                    <Authorized>
                        <div @onclick="OpenNotificationMenu">
                            <Announcements></Announcements>
                        </div>
                        <img class="avatar-sm rounded-circle cursor-pointer" src="@_element.User.Avatar" alt="avatar" @onclick="OpenUserMenu">
                    </Authorized>
                    <NotAuthorized>
                        <a @onclick="SignIn" class="btn btn-primary" style="white-space: nowrap;">Đăng Nhập</a>
                    </NotAuthorized>

                </AuthorizeView>
                @*                @if (_element.IsSignIn) {
                    <img class="avatar-sm rounded-circle cursor-pointer" src="@_element.User.Avatar" alt="avatar" @onclick="OpenUserMenu">
                    } else {
                    <a @onclick="SignIn" class="btn btn-primary" style="white-space: nowrap;">Đăng Nhập</a>
                    }*@

            </div>
        </div>

    </div>
</nav>
<popmenu>
    @if (_element.pop_grene) {
        <div class="pop-menu pop-menu-center">
            <div class="d-flex">
                <div class="card rounded-5 bg-content" name="info">
                    <div class="p-2">
                        <div class="rounded-5 p-2 border-bottom d-flex justify-content-between">
                            <a class="navbar-brand" href="#">Thể loại</a>
                            <div class="cursor-pointer" @onclick="()=>OnDarkMode(_element.OnDark)">
                                @if (_element.OnDark) {
                                    <div>
                                        <i class="fad fa-moon"></i> Dark Mode
                                    </div>

                                } else {
                                    <div>
                                        <i class="fad fa-sun"></i> Light Mode
                                    </div>

                                }
                            </div>
                        </div>

                        <div class="d-flex flex-wrap justify-content-between">
                            @foreach (var item in _element.Genres) {
                                <div class="btn btn-outline-primary rounded-pill m-1" @onclick="()=>{SearchGenre(item.Id);}">@item.Name</div>
                            }

                        </div>

                    </div>
                </div>
            </div>
        </div>
    }

    @if (_element.ComicSearch.Count > 0) {
        <div class="pop-menu pop-menu-center">
            <div class="d-flex">
                <div class="card rounded-5 bg-content" name="info">
                    <div class="p-2">
                        <div class="rounded-5 p-2 border-bottom d-flex justify-content-between">
                            <a class="navbar-brand" href="#">Thông Tin</a>
                            <div style="color: aquamarine;">aaaaaaaaaaaa</div>
                        </div>

                        <div class="p-2">
                            <div class="row card-info p-2 mt-2">
                                <div class="col-auto m-auto p-0">
                                    <img class="rounded-5 img-64" src="truyen.jpg" alt="avatar">
                                </div>
                                <div class="col">
                                    <p class="fs-5 title title-1">Thần Đồng Đất Việt Thần Đồng Đất Việt Thần Đồng Đất Việt Thần Đồng Đất Việt</p>
                                    <span class="title title-1">chapter 1: Pháp sư gọi bưởi Pháp sư gọi bưởi Pháp sư gọi bưởi</span>
                                </div>
                            </div>
                            <div class="row card-info p-2 mt-2">
                                <div class="col-auto m-auto p-0">
                                    <img class="rounded-5 img-64" src="truyen.jpg" alt="avatar">
                                </div>
                                <div class="col">
                                    <p class="fs-5 title title-1">Thần Đồng Đất Việt Thần Đồng Đất Việt Thần Đồng Đất Việt Thần Đồng Đất Việt</p>
                                    <span class="title title-1">chapter 1: Pháp sư gọi bưởi Pháp sư gọi bưởi Pháp sư gọi bưởi</span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    }

    @if (_element.pop_notification) {
        <NotificationContent></NotificationContent>
    }

    @if (_element.pop_user) {
        <div class="pop-menu pop-menu-right">
            <div class="d-flex">
                <div class="card rounded-5 bg-content" name="info">
                    <AuthorizeView>
                        <Authorized>
                            <div class="p-2">
                                <div class="rounded-5 p-2 border-bottom">
                                    <a class="navbar-brand" href="#">Thông Tin</a>
                                </div>

                                <div class="mt-2">
                                    <div class="row card-info m-1 mb-3 p-2">
                                        <div class="col-auto m-auto p-0">
                                            <img class="avatar-md rounded-circle" src="@_element.User.Avatar" alt="avatar">
                                        </div>
                                        <div class="col d-flex align-items-center">
                                            <div class="fs-2">@_element.User.Nickname</div>
                                        </div>
                                    </div>
                                    <div class="content mt-1 m-1">

                                        <div class="card-info p-2 mt-2">
                                            Truyện đang theo dõi
                                        </div>
                                        <a href="./user">
                                            <div class="card-info p-2 mt-2">
                                                Cài đặt tài khoản
                                            </div>
                                        </a>

                                        <a href="#" class="text">
                                            <div class="card-info p-2 mt-2" @onclick="SignOut">
                                                Đăng Xuất
                                            </div>
                                        </a>
                                    </div>

                                </div>


                                @if (_element.IsSignIn) {

                                } else {
                                    <!--
                                                                                <div class="mt-2">
                                        <div class="content mt-1 m-1">
                                            <div class="card-info p-2 mt-2">
                                                <div class="form-check form-switch">
                                                    Dảk Mode<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" @onclick="()=>OnDarkMode(_element.OnDark)">
                                                </div>
                                            </div>
                                            <EditForm Model="LoginRequest" OnValidSubmit="SignIn">
                                                <div class="card-info p-2 mt-2">
                                                    <div class="form-floating">
                                                        <InputText @bind-Value="LoginRequest.Username" class="form-control" id="floatingInput" placeholder="Username"></InputText>
                                                        <label for="floatingInput">Username</label>
                                                    </div>
                                                </div>
                                                <div class="card-info p-2 mt-2">
                                                    <div class="form-floating">
                                                        <InputText @bind-Value="LoginRequest.Password" class="form-control" id="floatingPassword" placeholder="Password"></InputText>
                                                        <label for="floatingPassword">Password</label>
                                                    </div>
                                                </div>

                                                <div class="card-info p-2 mt-2">
                                                    <input type="submit" class="btn btn-primary me-5" value="Đăng Nhập" />
                                                    <button class="btn btn-outline-primary">Đăng Ký</button>
                                                </div>
                                            </EditForm>

                                        </div>

                                    </div>

                                    -->
                                }

                            </div>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    }
</popmenu>



@if (_element.pop_background_click) {
    <div class="background-click" @onclick="ClosePopMenu"></div>
}

