@page "/read/{IdChapter}"
@using WebTruyen.UI.Client.Service.ComicService
@using WebTruyen.UI.Client.Service.ChapterService
@using WebTruyen.UI.Client.Service.PageService
@using WebTruyen.Library.Entities.ApiModel;
@using WebTruyen.Library.Entities
@using Microsoft.Data.SqlClient
@using WebTruyen.UI.Client.Service.ImageService


<main>
    <div class="container-xl mt-xxl-5 rounded-5 pb-5">
        <div class="row g-2 gx-4">

            <!-- Thông tin truyện -->
            <div class="comic-section mb-4">
                <div class="content p-2 rounded-5">
                    <div class="">
                        <div class="rounded-5 p-2 border-bottom">
                            <a class="navbar-brand" href="/">
                                <i class="fad fa-home"></i> Trang Chủ
                            </a>
                            <i class="fal fa-angle-right"></i>
                            <a class="navbar-brand" href="/@_Comic.NameAlias">@_Comic.Name</a>
                            <i class="fal fa-angle-right"></i>
                            <a class="navbar-brand" href="#">Chapter @_Chapter.Ordinal</a>
                        </div>
                    </div>
                    <div class="m-2">
                        <div class="row">
                            <div class="feature-section">
                                <div class="content m-4">
                                    <div class="mx-auto">
                                        <p class="fs-1 text-center">
                                            <a href="#">@_Comic.Name</a>
                                        </p>
                                        <p class="fs-3 text-center">
                                            <a href="#">Cập Nhật Ngày : @_Chapter.DateTimeUp</a>
                                        </p>
                                        <p class="fs-3 text-center text-danger">
                                            @if (_Chapter.IsLock)
                                            {
                                                <p>Chương Này Hiện Tại Đang Bị Khóa</p>
                                            }
                                        </p>
                                    </div>

                                    <h2></h2>
                                    <div class="row">
                                        <a class="btn btn-primary col-auto" href="#">
                                            <i class="fas fa-angle-double-left"></i>
                                        </a>
                                        <select class="form-select border-0 border-bottom col ms-4 me-4" aria-label="" @onchange="SelectedChapter">
                                            @foreach (var chap in _Chapters)
                                            {
                                                @if (chap.Id == _Chapter.Id)
                                                {
                                                    <option value="/read/@chap.Id" selected>Chapter @chap.Ordinal @chap.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="/read/@chap.Id">Chapter @chap.Ordinal @chap.Name</option>
                                                }
                                            }
                                        </select>
                                        <a class="btn btn-primary col-auto" href="#">
                                            <i class="fas fa-angle-double-right"></i>
                                        </a>
                                    </div>
                                </div>


                            </div>
                            <div class="listchap-section">

                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-danger m-1">Báo Lỗi</button>
                        <a id="goto_comment" class="btn btn-primary m-1">Bình Luận</a>
                    </div>
                </div>
            </div>
            <!-- End [Thông tin truyện] -->
            <!-- Danh sách chap truyện -->
            <div class="listchap-section mb-4">
                <div class="content p-2 rounded-5">
                    <div id="chapter-content">
                        <!-- Hình ảnh -->
                        @foreach (var item in _Pages)
                        {
                            <img src="@item.Image" alt="@item.Id">
                        }

                        <!-- End [Hình truyện] -->
                    </div>

                    <div>
                    </div>
                </div>
            </div>
            <!-- End [Danh sách chap truyện] -->
            <!-- Comment -->
            <Comment _IdChapter="@IdChapter"></Comment>
            <!-- End [Comment] -->
        </div>
    </div>
</main>



@code {
    [Parameter] public string IdChapter { get; set; }

    [Inject] IComicApiClient _comicApi { get; set; }
    [Inject] IChapterApiClient _chapterApi { get; set; }
    [Inject] IPageService _pageService { get; set; }
    [Inject] IImageService _imageApi { get; set; }
    [Inject] NavigationManager _navigationManager { get; set; }

    public ComicAM _Comic { get; set; } = new();
    public ChapterAM _Chapter { get; set; } = new();
    public List<ChapterAM> _Chapters { get; set; } = new();
    public List<PageAM> _Pages { get; set; } = new();


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetDataChapter();
        }
    }

    async Task GetDataChapter()
    {
        _Chapter = await _chapterApi.GetChapter(Guid.Parse(IdChapter));
        Console.WriteLine($">>>Trạng thái chap lock: {_Chapter.IsLock}");

        _Comic = await _comicApi.GetComic(_Chapter.IdComic);
        _Chapters = await _chapterApi.GetChaptersInComic(_Comic.Id);

        _Pages = new List<PageAM>();

        if (_Chapter.IsLock)
        {
            var page = new PageAM()
            {
                Image = "./resources/img/Psyduck-image-404.png"
            };
            _Pages.Add(page);
            StateHasChanged();
        }
        else
        {
            await GetPages();
        }
        StateHasChanged();
    }

    #region Giao Tiếp Server

    async Task GetPages()
    {
        var pages = await _pageService.GetPagesInChapter(_Chapter.Id);
        if (_Chapter.IsLock)
        {
            foreach (var page in pages)
            {
                page.Image = await _imageApi.GetImageFromUrl(page.Image);
                _Pages.Add(page);
                StateHasChanged();
            }
        }
        else
        {
            _Pages = pages;
            StateHasChanged();
        }

    }

    #endregion

    #region Xử lý dữ liệu

    async Task SelectedChapter(ChangeEventArgs e)
    {
        _navigationManager.NavigateTo($"{e.Value}");
        await GetDataChapter();
    }

    #endregion
}
