@page "/comic"
@using WebTruyen.UI.Admin.Components;


<a href="comic/create" class="btn btn-info text-decoration-none text-dark"><i class="far fa-plus"></i>Thêm Truyện</a>
<div class="container" >
    @if (_comics == null)
    {
        <Loading></Loading>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Hình Ảnh</th>
                    <th scope="col" style="min-width: 10rem;">Tên</th>
                    <th scope="col">Tên Khác</th>
                    <th scope="col">Tác Giả</th>
                    <th scope="col">Tình Trạng</th>
                    <th scope="col">Lượt Xem</th>
                    <th scope="col" style="min-width: 10rem;">Mô Tả</th>
                    <th scope="col" style="min-width: 120px;">#</th>
                </tr>
            </thead>
            <tbody>

                @{
                    var index = 0;
                    foreach (var comic in _comics)
                    {
                        <tr>
                            <th scope="row">@(index++)</th>
                            <td><img src="@comic.Thumbnail" alt="@comic.NameAlias" height="64" /></td>
                            <td>@comic.Name</td>
                            <td>@comic.AnotherNameOfComic</td>
                            <td>@comic.Author</td>
                            <td>@comic.Status</td>
                            <td>@comic.Views</td>
                            <td>@comic.Description</td>
                            <td>
                                <a href="comic/detail?name=@comic.NameAlias" class="btn btn-info text-decoration-none text-dark"><i class="far fa-info-circle"></i> Chi Tiết</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    }

</div>
