@page "/comic/detail"
@using WebTruyen.Library.Enums
@using WebTruyen.UI.Admin.Components;

<link href="./resources/css/animation.css" rel="stylesheet" />

@if (_comic == null)
{
    <Loading></Loading>
}
else
{
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>
    @if (_element.Apiresult is >= 200 and <= 299)
    {
        <div>
            <div class="alert alert-success d-flex align-items-center alert-dismissible" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
                <div>
                    Cập nhật thành công.
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

    }
    else if (_element.Apiresult != 0)
    {
        <div>
            <div class="alert alert-danger d-flex align-items-center alert-dismissible" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div>
                    Cập nhật thất bại.
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

    }

    <div class="container overflow-auto mt-2">
        <div class="content rounded-3 p-1">

            <div class="row g-2 g-lg-3">
                <div class="col" style="min-width: 18rem;">
                    <!--Card info-->
                    <div class="card slide-in-elliptic-top-fwd" style="min-width: 18rem; z-index: 1">
                        <img src="@_element.ThumbnailComic" class="card-img-top mx-auto lazy-loading" alt="@_comic.NameAlias" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">@_comicRequest.Name</h5>
                            <p class="card-text">@_comicRequest.Description</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="fw-bold">Tác Giả:</span>@_comicRequest.Author</li>
                            <li class="list-group-item">
                                <span class="fw-bold">Tình Trạng: </span>

                                @switch (_comicRequest.Status)
                                {
                                    case Status.InProgress:
                                        <span>Đang Tiến Hành</span>
                                        break;
                                    case Status.IsFinish:
                                        <span>Đã Hoàn Thành</span>
                                        break;
                                    case Status.Drop:
                                        <span>Ngưng Dịch</span>
                                        break;
                                    default:
                                        <span>Đang Tiến Hành</span>
                                        break;

                                }
                            </li>

                            <li class="list-group-item"><span class="fw-bold">Lượt Xem: </span>@_comicRequest.Views</li>
                            <li class="list-group-item">
                                <span class="fw-bold">Thể Loại: </span>
                                @foreach (var genre in _genreRequest)
                                {
                                    <span class="badge rounded-pill bg-info text-light">@genre.Name</span>
                                }
                            </li>
                        </ul>
                        <div class="card-body d-flex justify-content-between">
                            <button type="button" class="btn btn-primary" @onclick=OpenUpdate>@_element.TextButtonUpdate</button>
                            <a href="javascript:void(0)" class="card-link text-danger" data-bs-toggle="modal" data-bs-target="#POP-alert" @onclick='() => _element.ContentAlert = "Bạn Thực Sự Muốn Xóa?"'>Xóa</a>
                        </div>
                    </div>
                    <!--End Card info-->
                    </div>
                <!--Edit Form-->
                @if (_element.IsShow)
                {
                    <div class="col" style="min-width: 18rem;">
                        <div class="flex-wrap @_element.AnimationSlide p-1">
                            <EditForm Model="@_comicRequest" OnSubmit="@Update">
                                <span>Hình</span>
                                <InputFile class="form-control" OnChange="InputImage" @bind-Value="_comicRequest.Thumbnail" name="Thumbnail"></InputFile>
                                <span>Tên</span>
                                <InputText class="form-control" @bind-Value="_comicRequest.Name"></InputText>
                                <span>Tên Khác</span>
                                <InputText class="form-control" @bind-Value="_comicRequest.AnotherNameOfComic"></InputText>
                                <span>Tác Giả</span>
                                <InputText class="form-control" @bind-Value="_comicRequest.Author"></InputText>
                                <span>Mô Tả</span>
                                <InputText class="form-control" @bind-Value="_comicRequest.Description"></InputText>
                                <span>Tình Trạng</span>
                                <InputSelect class="form-control" @bind-Value="_comicRequest.Status">
                                    <option value="0">Đang Tiến Hành</option>
                                    <option value="1">Đã Hoàn Thành</option>
                                    <option value="2">Đã Hủy</option>
                                    <InputFile type="submit" class="btn btn-primary mt-3" value="Save" accept="image/*" />
                                </InputSelect>

                                <div class="input-group mt-2">
                                    <input type="button" id="button-addon1" class="btn btn-outline-info d-block" data-bs-toggle="modal" data-bs-target="#POPask" @onclick="OpenGenre" value="Thêm Thể Loại Truyện" />
                                    <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" disabled value="@_element.AllGenreChoose">
                                </div>

                                @if (_element.IsSubmit)
                                {
                                    <input type="submit" class="btn btn-primary mt-3" />
                                }
                                else
                                {
                                    <button class="btn btn-primary mt-5" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Loading...
                                    </button>
                                }
                            </EditForm>
                        </div>
                    </div>
                }
                <!--End Edit Form-->

                <div class="col" style="min-width: 18rem;">
                    <a class="btn btn-outline-primary mb-2 m-1" href="./chapter?comic=@_comic.Id"><i class="far fa-plus"></i> Thêm Chap</a>
                    <div class="flex-wrap">
                        <!--button call offcanvas-bottom -->
                        <!--Chapter -->
                        @if (!_chapters.Any())
                        {
                            <div>Loading...</div>
                        }
                        else
                        {
                            foreach (var chapter in _chapters)
                            {
                                <button type="button" class="btn btn-outline-primary m-1" @onclick="() => GetPages(chapter.Id)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Chap @chapter.Ordinal</button>
                            }
                        }

                    </div>
                </div>



            </div>

            <!-- offcanvas-bottom -->
            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                <div class="offcanvas-header">
                    <div class="d-flex">
                        <nav aria-label="breadcrumb">
                            <span class="breadcrumb-item">Chaper View</span>
                            <a class="btn btn-outline-primary mb-2 m-1" href="./chapter?idChaper=@(_idChapter)"><i class="far fa-plus"></i> Edit Chapter </a>
                        </nav>

                    </div>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body small">
                    @if (!_pages.Any())
                    {
                        <div>Loading...</div>
                    }
                    else
                    {
                        <div class="d-flex flex-row">
                            @foreach (var page in _pages)
                            {
                                <div style="height: 12rem; width: 12rem;">
                                    <img class="card lazy-loading" src="@(page.Image)" style="width: 12rem;" />
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Thể Loại -->
    <div class="modal fade" id="POPask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Chọn Thể Loại Truyện</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-wrap">
                        @if (_element.GenreVM.Any())
                        {
                            foreach (var genre in _element.GenreVM)
                            {
                                <div class="form-check form-switch border border-1 rounded-pill m-1">
                                    <div class="m-1">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" @onclick="() => AddGenre(genre)" checked="@genre.check">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">@genre.value.Name</label>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <div></div>
                        }


                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close-ask-modal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Xác Nhận</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Thể Loại  -->

    <!-- Modal Thông Báo -->
    <div class="modal fade" id="POP-alert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Chú Ý</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-wrap">
                        
                        @_element.ContentAlert

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close-ask-modal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="ResultAlert">Xác Nhận</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Thông Báo  -->
}

