<div class="pop-menu pop-menu-right">
    <div class="d-flex">
        <div class="card rounded-5 bg-content" name="info">
            <div class="p-2">
                <div class="rounded-5 p-2 border-bottom d-flex justify-content-between">
                    <a class="navbar-brand" href="#">Thông báo</a>
                    <div style="color: aquamarine;">@_listChapter.Total</div>
                </div>

                <div class="p-2">
                    @foreach (var item in _listChapter.Chapters) {
                            <div class="row card-info p-2 mt-2" @onclick="() => {OpenChapter(item.ComicAM.NameAlias, item.Ordinal, item.Id);}">
                                <div class="col-auto m-auto p-0">
                                    <img class="rounded-5 img-64" src="@item.ComicAM.Thumbnail" alt="avatar">
                                </div>
                                <div class="col">
                                    <p class="fs-5 title title-1">@item.ComicAM.Name</p>
                                    <span class="title title-1">chapter @item.Ordinal : @item.Name</span>
                                </div>
                            </div>

                    }
                </div>


            </div>
        </div>
    </div>
</div>
